@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&family=League+Spartan:wght@500;600;700&display=swap');
$font-family-sans-serif: 'League Spartan', sans-serif;

// PRIMARY COLOR
$dark-gray: hsl(0, 0%, 63%);
$primary: $dark-gray;


// GRAY COLOR VARIABLES
$very-dark-gray: hsl(0, 0%, 27%);

// CUSTOMIZE BODY COLOR
$body-color : $primary;

$custom-colors: (
  "very-dark-gray": $very-dark-gray
);

// Merge the maps
@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/variables.scss';

$theme-colors: map-merge($theme-colors, $custom-colors);

// CUSTOMIZE NAVBAR
/* $link-color: $Dark-grayish-blue; */
$link-decoration: none;
/* $link-hover-color: $very-vark-blue;  */
$navbar-brand-margin-end: 3rem;
$navbar-light-color: #fff;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg width='20' height='14' xmlns='http://www.w3.org/2000/svg'><path d='M20 12v2H0v-2h20zm0-6v2H0V6h20zm0-6v2H0V0h20z' fill='#{$navbar-light-color}' fill-rule='evenodd'/></svg>");
$navbar-dark-toggler-border-color: none;
$navbar-toggler-focus-width: 0;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;

// Offcanvas
$offcanvas-color: $black;
$offcanvas-backdrop-bg: $black;
$offcanvas-backdrop-opacity: .70; 
$btn-close-bg: url("data:image/svg+xml,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M14.364.222l1.414 1.414L9.414 8l6.364 6.364-1.414 1.414L8 9.414l-6.364 6.364-1.414-1.414L6.586 8 .222 1.636 1.636.222 8 6.586 14.364.222z' fill='#{$very-dark-gray}' fill-rule='evenodd'/></svg>");
$btn-close-focus-shadow: none;
$offcanvas-padding-y: 0;
$offcanvas-padding-x: 0;

//Buttons
$btn-padding-y: 1rem;  
$btn-padding-x: 2rem;
$btn-border-radius: .75rem;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125); 

//MODAL 
$modal-content-bg:  none;
$modal-content-border-color: none;
$modal-content-border-width: 0;

//Body
$font-size-base: 12px;

@import '../../node_modules/bootstrap/scss/bootstrap.scss'